
.main-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-container {
    display: flex;
    -webkit-filter: hue-rotate(516deg);
    filter: hue-rotate(516deg);
    width: 100%;
    position: absolute;
    /* height: 100vh; */
}
::-webkit-scrollbar {
    display: none;
}