.container{
    display: flex;
    justify-content: center;
}
.question{
    font-size: 20px;
    font-family:Inter;
}
.gradient-custom {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    } 
    .card-custom {
    border-bottom-left-radius: 10% 50%;
    border-top-left-radius: 10% 50%;
    background-color: #f8f9fa ;
    }
    .input-custom {
    background-color: white ;
    }
 
    .white-text {
    color: hsl(52, 0%, 98%);
    font-weight: 100 ;
    font-size: 14px;
    }
    .floating-label {
        position: absolute;
        pointer-events: none;
        left: 20px;
        top: 18px;
        transition: 0.2s ease all;
      }
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}
.general{
    margin-top: -95px;
    margin-right:20px
    /* margin-left:50px; */
}
.form-label{
    font-size: 11px;
}
.text{
    font-size: 20px;
    font-weight: 400;
    margin-left: 100px;
    margin-top:60px;
}

      
.file{
    display: flex;
    justify-content: center;
}

.dropdown{
    margin-left: 430px;
    width: 180px;
    margin-right: 100px;
}
.buttons{
    /* margin-left:830px; */
}

.save{
    margin-left:830px;
}
.drawerList{
    font-size: 50px;
}
.form-group.required .control-label:after {content:"*";color:red;}
/* body {
    background: #0083B0;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    min-height: 100vh;
} */

.form-control::placeholder {
    font-style: italic;
    font-size: 0.85rem;
    color: #aaa;
}
.tabular{
    width: 100;
    padding: 200px;
    margin-left: 200px;
    margin-right: 200px;
}